main {
	padding: 1rem;
}

.habits {
	.habit {
		padding: 1rem;
		text-align: right;
		background-color: $light-grey;
		@include habit-type;
		display: flex;
		input[type=checkbox]{
			align-self: center;
			transform: scale(1.5);
			margin-right: 2rem;
		}
		&:not(:last-child){
			margin-bottom: 0.3rem;
		}
	}
}
